
.footer_minibar .minibar_background_color {
    position: relative;
    padding: 14px 24px;
}

.footer_minibar .minibar_background_color::before {
    content: "";
    position: absolute;
    background-color: #2A2A2A;
    width: 183.4vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw
}

.minibar_background_color .mini_baner_container{
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
}

.minibar_background_color .mini_baner_logo {
    margin-right: 40px;
}

.minibar_background_color .mini_baner_content {
    margin-right: 40px;
}

.mini_baner_content .mini_baner_content_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #FB3D54;
}

.mini_baner_content .mini_baner_content_subtitle {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #FFFF;
    font-family: sans-serif;
}

.mini_baner_container .mini_baner_cta {
    margin-left: auto;

    height: 40px;
    padding: 0px 16px;
    gap: 8px;
    display: flex;
    font-size: 12px;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #FB3D54;
    color: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.minibar_background_color .mini_baner_background {
    position: absolute;
    background-image: url('/image/m88-io.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    margin-top: -14px;
    width: 50%;
    height: 100%;

}



/*  */
.footer_top {
    padding-left: 24px;
    padding-right: 24px;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.payment_media_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

}

.payment_method {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.text_payment_tablet_sm {
    font-size: 12px;
    line-height: 18px;
    color: #90949C;
    font-weight: bold;
    margin-right: 16px;
}

.method_container img {

    align-items: center;
    margin-right: 24px;
    display: flex;
    height: 27px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    max-width: 146px;

}

.method_container img:hover {
    filter: grayscale(0%);
}

.m88_io_diriver {
    height: 24px;
    width: 1px;
    background-color: #90949C;
    margin-right: 8px;
}

.m88_io_content {
    margin-right: 12px;
}

.m88_io_content_img {
    filter: unset !important;
}

.m88_io_content .content_text_line {
    color: #90949c;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    font-family: sans-serif;
    margin-right: 8px;
}

.ml_auto_tablet {
    margin-left: auto;

}
.ml_auto_tablet i{
    margin-right: 16px;
}

.social_media {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.facebook{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.facebook:hover{
    filter: grayscale(0%);
}
.instagram{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.instagram:hover{
    filter: grayscale(0%);
}
.elonmusk{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.elonmusk:hover{
    filter: grayscale(0%);
}
.youtube{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.youtube:hover{
    filter: grayscale(0%);
}
.tiktok{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.tiktok:hover{
    filter: grayscale(0%);
}



.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-tiktok {
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
  }

/*  */

.navigate_container{
    display: flex;
    width: 100%;
   
    
}
.navigate_container_menu{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    align-items: self-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
}

.navigate_container_localized{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    align-items: self-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.navigate_container_menu_text a{
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    color: #90949C ;
    font-weight: bold;
    text-decoration: underline;

}
.navigate_container_menu_text a:hover{
    color: #FFFF;
}

/* center-footer */
.footer_center{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    
}
.footer_center::before{
    content: "";
    position: absolute;
    background-color:#222939;
    width: 184.2vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw;
}

.game_provider{
    padding-bottom: 30px;
}
.provider_wrapper{
    grid-template-columns: repeat(7, minmax(0, 1fr));
    justify-items: center;
    display: grid;
    column-gap: 56px;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    row-gap: 24px;
}

.provider_wrapper_container{
   
}

.provider_image{
    width: 135px;
    height: 38px;
    background-position: -4px -4px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
}
.provider_image_hover{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;  
    width: 135px;
    height: 38px;
    top: 44px;
    background-position: -1px -38px;
}
.provider_image_hover:hover{
    opacity: 1;  
}
.provider_image_hover1:hover{
    opacity: 1;  
}
.provider_image_hover2:hover{
    opacity: 1;  
}
.provider_image_hover3:hover{
    opacity: 1;  
}
.provider_image_hover4:hover{
    opacity: 1;  
}
.provider_image_hover5:hover{
    opacity: 1;  
}
.provider_image_hover6:hover{
    opacity: 1;  
}
.provider_image_hover7:hover{
    opacity: 1;  
}
.provider_image_hover8:hover{
    opacity: 1;  
}
.provider_image_hover9:hover{
    opacity: 1;  
}
.provider_image_hover10:hover{
    opacity: 1;  
}
.provider_image_hover11:hover{
    opacity: 1;  
}
.provider_image_hover12:hover{
    opacity: 1;  
}
.provider_image_hover13:hover{
    opacity: 1;  
}
.provider_image_hover14:hover{
    opacity: 1;  
}
.provider_image_hover15:hover{
    opacity: 1;  
}
.provider_image_hover16:hover{
    opacity: 1;  
}
.provider_image_hover17:hover{
    opacity: 1;  
}
.provider_image_hover18:hover{
    opacity: 1;  
}
.provider_image_hover19:hover{
    opacity: 1;  
}
.provider_image_hover20:hover{
    opacity: 1;  
}
.provider_image_hover21:hover{
    opacity: 1;  
}
.provider_image_hover22:hover{
    opacity: 1;  
}
.provider_image_hover23:hover{
    opacity: 1;  
}
.provider_image_hover24:hover{
    opacity: 1;  
}
.provider_image_hover25:hover{
    opacity: 1;  
}
.provider_image_hover26:hover{
    opacity: 1;  
}
.provider_image_hover27:hover{
    opacity: 1;  
}
.provider_image_hover28:hover{
    opacity: 1;  
}
.provider_image_hover29:hover{
    opacity: 1;  
}
.provider_image_hover30:hover{
    opacity: 1;  
}
.provider_image_hover31:hover{
    opacity: 1;  
}
.provider_image_hover32:hover{
    opacity: 1;  
}
.provider_image_hover33:hover{
    opacity: 1;  
}
.provider_image_hover34:hover{
    opacity: 1;  
}
.provider_image_hover35:hover{
    opacity: 1;  
}
.provider_image_hover36:hover{
    opacity: 1;  
}
.provider_image1{
    width: 103px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -144px 0px;
}
.provider_image_hover1{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 108px;
    height: 40px;
    top: 44px;
    background-position: -144px -39px;
}

.provider_image2{
    width: 120px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -256px 0px;
}
.provider_image_hover2{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 120px;
    height: 38px;
    top: 44px;
    background-position: -256px -40px;
}

.provider_image3{
    width: 86px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -379px -2px;
}
.provider_image_hover3{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 86px;
    height: 38px;
    top: 44px;
    background-position: -379px -40px;
}

.provider_image4{
    width: 115px;
    height: 32px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: 0px -78px;
}
.provider_image_hover4{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 115px;
    height: 35px;
    top: 44px;
    background-position: 0px -110px;
}


.provider_image5{
    width: 122px;
    height: 45px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: 0px -650px;
}
.provider_image_hover5{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 122px;
    height: 45px;
    top: 40px;
    background-position: 3px -702px;
}

.provider_image6{
    width: 113px;
    height: 30px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -250px -334px;
}
.provider_image_hover6{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 113px;
    height: 30px;
    top: 48px;
    background-position: -250px -373px;
}

.provider_image7{
    width: 94px;
    height: 41px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -586px -567px;
}
.provider_image_hover7{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 94px;
    height: 41px;
    top: 114px;
    background-position: -586px -609px;
}

.provider_image8{
    width: 71px;
    height: 47px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -1173px -650px;
}
.provider_image_hover8{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 71px;
    height: 47px;
    top: 108px;
    background-position: -1173px -696px;
}

.provider_image9{
    width: 107px;
    height: 40px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -183px -78px;
}
.provider_image_hover9{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 107px;
    height: 40px;
    top: 108px;
    background-position: -183px -108px;
}

.provider_image10{
    width: 145px;
    height: 40px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: 0px -154px;
}
.provider_image_hover10{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 145px;
    height: 40px;
    top: 108px;
    background-position: 0px -192px;
}

.provider_image11{
    width: 145px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -317px -80px;
    top: -4px;
}
.provider_image_hover11{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 145px;
    height: 41px;
    top: 108px;
    background-position: -317px -113px;
}

.provider_image12{
    width: 99px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -147px -154px;

}
.provider_image_hover12{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 99px;
    height: 37px;
    top: 113px;
    background-position: -147px -197px;
}

.provider_image13{
    width: 116px;
    height: 39px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: 0px -414px;

}
.provider_image_hover13{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 116px;
    height: 39px;
    top: 115px;
    background-position: 0px -453px;
}

.provider_image14{
    width: 147px;
    height: 39px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -102px -334px;

}
.provider_image_hover14{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 147px;
    height: 39px;
    top: 182px;
    background-position: -102px -373px;
}

.provider_image15{
    width: 95px;
    height: 39px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -235px -246px;

}
.provider_image_hover15{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 95px;
    height: 39px;
    top: 182px;
    background-position: -235px -288px;
}

.provider_image16{
    width: 131px;
    height: 39px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -331px -246px;

}
.provider_image_hover16{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 131px;
    height: 39px;
    top: 182px;
    background-position: -331px -288px;
}

.provider_image17{
    width: 159px;
    height: 42px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: 0px -243px;

}
.provider_image_hover17{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 159px;
    height: 42px;
    top: 180px;
    background-position: 0px -285px;
}

.provider_image18{
    width: 159px;
    height: 34px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -134px -494px;

}
.provider_image_hover18{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 159px;
    height: 34px;
    top: 184px;
    background-position: -133px -530px;
}

.provider_image19{
    width: 191px;
    height: 34px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -1px -841px;

}
.provider_image_hover19{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 191px;
    height: 29px;
    top: 190px;
    background-position: -1px -876px;
}

.provider_image20{
    width: 111px;
    height: 31px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -193px -839px;

}
.provider_image_hover20{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 111px;
    height: 31px;
    top: 186px;
    background-position: -193px -869px;
}

.provider_image21{
    width: 131px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -331px -415px;

}
.provider_image_hover21{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 131px;
    height: 37px;
    top: 246px;
    background-position: -331px -454px;
}

.provider_image22{
    width: 99px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -159px -903px;

}
.provider_image_hover22{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 99px;
    height: 29px;
    top: 257px;
    background-position: -159px -940px;
}

.provider_image23{
    width: 106px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -258px -899px;

}
.provider_image_hover23{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 106px;
    height: 29px;
    top: 257px;
    background-position: -258px -937px;
}

.provider_image24{
    width: 109px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -353px -154px;

}
.provider_image_hover24{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 109px;
    height: 40px;
    top: 246px;
    background-position: -353px -197px;
}

.provider_image25{
    width: 109px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -215px -571px;

}
.provider_image_hover25{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 109px;
    height: 38px;
    top: 246px;
    background-position: -215px -611px;
}

.provider_image26{
    width: 103px;
    height: 37px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -362px -932px;

}
.provider_image_hover26{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 103px;
    height: 38px;
    top: 246px;
    background-position: -362px -905px;
}

.provider_image27{
    width: 122px;
    height: 33px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -463px -966px;

}
.provider_image_hover27{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 122px;
    height: 38px;
    top: 249px;
    background-position: -463px -1000px;
}

.provider_image28{
    width: 164px;
    height: 36px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -590px -966px;

}
.provider_image_hover28{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 164px;
    height: 34px;
    top: 311px;
    background-position: -590px -1002px;
}

.provider_image29{
    width: 95px;
    height: 36px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -3px -1081px;

}
.provider_image_hover29{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 95px;
    height: 34px;
    top: 311px;
    background-position: -3px -1042px;
}

.provider_image30{
    width: 169px;
    height: 36px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -295px -972px;

}
.provider_image_hover30{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 169px;
    height: 28px;
    top: 311px;
    background-position: -295px -1008px;
}

.provider_image31{
    width: 66px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -387px -1079px;

}
.provider_image_hover31{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 66px;
    height: 38px;
    top: 311px;
    background-position: -387px -1036px;
}

.provider_image32{
    width: 111px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -145px -1269px;

}
.provider_image_hover32{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 111px;
    height: 38px;
    top: 311px;
    background-position: -145px -1227px;
}

.provider_image33{
    width: 93px;
    height: 38px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -237px -417px;

}
.provider_image_hover33{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 93px;
    height: 34px;
    top: 311px;
    background-position: -237px -456px;
}

.provider_image34{
    width: 156px;
    height: 43px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -128px -1158px;

}
.provider_image_hover34{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 156px;
    height: 43px;
    top: 307px;
    background-position: -128px -1117px;
}

.provider_image35{
    width: 156px;
    height: 35px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -283px -1152px;

}
.provider_image_hover35{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 156px;
    height: 35px;
    top: 377px;
    background-position: -283px -1117px;
}

.provider_image36{
    width: 110px;
    height: 40px;
    background: url('/image/providers.png');
    position: relative;
    opacity: 1;
    background-position: -108px -1077px;

}
.provider_image_hover36{
    position: absolute;
    opacity: 0;
    background: url('/image/providers.png');
    transition: opacity .5s;
    width: 110px;
    height: 40px;
    top: 374px;
    background-position: -108px -1038px;
}
/* end */

.separation_line_wrapper{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    
}

.separation_line{
    height: 1px;
    background-color: #4E5461;
    margin-top: 8px;
    position: relative;
}

.sponsor_container_ship{
    margin-top: 32px;
    display: flex;
    align-items: baseline;
    flex-direction: column;

}

.previous_sponsor{
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    display: flex;
    color: #A7A9B0;
    align-self: center;
}

.previous_sponsor_icon{
    display: flex;
    flex-direction:row;
    position: relative;
    align-self: center;   
}
.sponsor_item{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    align-items: center;
}
.sponsor_item img{
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.sponsor_info{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;

}

.sponsor_name{
    font-size: 12px;
    line-height: 18px;
    color: #90949C;
    font-weight: bold;
}
.sponsor_year{
    font-size: 12px;
    line-height: 18px;
    color: #90949C;
    text-align: center;
}

/*  */
.footer_bottom{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.response_gamebling{
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    color: #90949C;
}
.text_gamebling{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: #90949C;
}
.text_gamebling_single{
    font-size: 11px;
    line-height: 18px;
    font-family: sans-serif;
    margin-right: 3px;
}
.text_gamebling_single_span2{
    font-size: 12px;
    line-height: 18px;
    margin-right: 3px;
}
.text_gamebling a{
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
    color: #90949C;

}
.text_gamebling a:hover{
    color: #90949c;
}

.partner_gamebling{
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    align-items: center;
}

.partner_element{
    margin-right: 16px;
}
.terms_p1{
    font-size: 11px;
    color: #90949C;
    line-height: 20px;
}
/*  */