#bady.active {
  overflow: hidden;
}



#bady {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #F4F4F5;
  /* transition: all 0.5s ease; */
  overflow-x: hidden;
  margin: 0;
}

#bady.dark_mode {
  background-color: #222939;
  /* transition: all 0.5s ease; */
}

#bady.dark_mode .text_thethao {
  color: #FFFF;
}

#bady.dark_mode .track_event {
  color: #D3D4D7;
}

#bady.dark_mode .odds_compoment::before {
  background-color: #222939;
}

#bady.dark_mode .match_ched_card {
  background-color: #222939;
  color: #FFFF;
}

#bady.dark_mode .ho3 {
  color: #FFFF;
}

#bady.dark_mode .dark_mode_span {
  color: #FFFF;
}

#bady.dark_mode .background_primary_color1 {
  background-color: #222939;
}

#bady.dark_mode .icon_small_provider_titles {
  background-color: #2d3443;
}

#bady.dark_mode .icon_small_provider_titles:hover {
  background-color: #4E5461;
}

#bady.dark_mode .km_promo_item span {
  color: #FFFF;
}

#bady.dark_mode .seo_text_main {
  color: #FFFF;
}

#bady.dark_mode .seo_text_main a {
  color: #FFFF;
}

#bady.dark_mode .seo_text_main span {
  color: #FFFF;
}

#bady.dark_mode .footer_sponsor::before {
  background-color: #222939;
}

#bady.dark_mode .partner_ship_head {
  color: #FFFF;
}

#bady.dark_mode .span1 {
  color: #FFFF;
}

#bady.dark_mode .span2 {
  color: #FFFF;
}


.header_css {
  background: #1A202C;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.header_css .navbar {
  margin: 0px 299px;

}

.header_css .header_content_right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header_css .style_nav {
  height: 72px;

}
@keyframes side-in{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes side-out{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}


/* side menu toggle */
#side-menu-toggle:checked~.side_menu{
  display: block;
  animation: side-in .3s;
}

.header_css .side_menu.sliding-out{
  display: block;
  animation: side-out .3s;
}



/* làm cho thanh cuộn mất đi trên trình duyệt */
.header_css .side_menu::-webkit-scrollbar{
  width: 0;
}
.navbar.navbar-custom::-webkit-scrollbar{
  width: 0;
}
/* end làm thanh cuộn mất đi trên trình duyệt */



/* end toggle */
.header_css .side_menu {
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 359px;
  z-index: 1001;
  background-color: #222939;
  background-image: url('/image/side-menu-background.jpg');
  background-size: cover;
  display: none;
}
.header_css .side_menu.sliding-out{
  display: block;
  animation: side-out .3s;
}

.side_menu .side-menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.side_menu .side-menu-header label .close-icon {
  display: flex;
  align-self: center;
  -webkit-mask: url('/image/icon-close_faker.svg') no-repeat center;
  -webkit-mask-size: 12px;
  width: 12px;
  height: 12px;
  background-color: #FFFF;
  padding: 8px;
  position: relative;
}

.dynamic_content .area_sportbook_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}
.dynamic_content .area_sportbook_content img{
  margin-bottom: 16px;
}
.dynamic_content .area_sportbook_content .area_sportbook_content_span{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
    color: #CAAB72;
}
.dynamic_content .area_sportbook_content .area_sportbook_content_span1{
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #FFFF;
}
.dynamic_content .area_sportbook_content_a{
    color: #222939;
    background-color: #CAAB72;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 60px;
    transition: all .5s;
    white-space: nowrap;



    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.dynamic_content .area_sportbook_content_a:hover{
  text-decoration: unset;
  color: #222939;
}
.dynamic_content .area_sportbook_content_a .button_signup_tablet1{
  padding-left: 56px;
  padding-right: 56px;
}

.dynamic_content .header_login .text_sm{
    font-size: 14px;
    line-height: 18px;
    font-family: sans-serif;
}
.dynamic_content .header_login .text_sm_a1{
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    color: #FFFF;
}


.area_sportbook .side-menu-title-nav-element{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    color: #FFFF;
}
.area_sportbook .side-menu-title-nav-element .title-nav-element{
    width: 102px;
    height: 86px;
    
}

.area_sportbook .side-menu-title-nav-element .title-nav-element a{
  display: flex;
  border-radius: 8px;
  border: solid 1px #4e5461;
  width: 100%;
  height: 100%;
  color: unset;
}

.area_sportbook .side-menu-title-nav-element .title-nav-element .selected{
    background-color: #383E4D;
    border-color: #383E4D;
    color: #CAAB72;
    text-decoration: none;
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: center;
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title span{
    font-size: 10px;
    line-height: 14px;
    margin: auto;
    white-space: nowrap;
}

.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon {
    -webkit-mask: url('/image/icon-home.svg') no-repeat center;
    -webkit-mask-size: contain;
    background-color: #D3D4D7;
    width: 32px;
    height: 32px;
    /* margin-top: 16px; */
    margin-bottom: 8px;   
}

.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon11.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon10.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon9.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon8.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon7.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon6.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon5.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon4.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon3.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon2.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon1.selected,
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon.selected{
  background-color: #CAAB72;
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title  .side-menu-icon1 {
  -webkit-mask: url('/image/icon-sports.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon2 {
  -webkit-mask: url('/image/icon-esports.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon3 {
  -webkit-mask: url('/image/icon-live-casino.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon4 {
  -webkit-mask: url('/image/icon-casino.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
 
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon5 {
  -webkit-mask: url('/image/icon-menu-ufc.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon6 {
  -webkit-mask: url('/image/icon-trading.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon7 {
  -webkit-mask: url('/image/icon-lotto.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon8 {
  -webkit-mask: url('/image/icon-poker.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon9 {
  -webkit-mask: url('/image/icon-others.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon10 {
  -webkit-mask: url('/image/icon-promotions.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}
.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon11 {
  -webkit-mask: url('/image/icon-vip.svg') no-repeat center;
  -webkit-mask-size: contain;
  background-color: #D3D4D7;
  width: 32px;
  height: 32px;
  /* margin-top: 16px; */
  margin-bottom: 8px;
  
}


.area_sportbook .side-menu-title-nav-element .title-nav-element  .side-menu-title .side-menu-icon.selected{
  background-color: #CAAB72 !important;
}
/* responsive */
@media(max-width:1023.5px) {
  .header_css .style_nav .logo_desktop {
    display: none;
  }

  .header_css .style_nav .logo_mobile {
    display: flex;
  }

  .header_css .navbar {
    margin: unset;
  }
  

  .header_css .button_signin_tablet {
    color: #FFFF;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #FFFF;
    height: 40px;
    padding: 9px 20px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 60px;
    cursor: pointer;
    transition: all .5s;
    white-space: nowrap;
    width: 150px;
    margin-right: 8px;


  }

  .header_css .button_signup_tablet {
    color: #222939;
    background-color: #CAAB72;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    padding: 9px 20px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 60px;
    transition: all .5s;
    white-space: nowrap;
  }

  .header_css .layout_side_menu_overlay {
    display: flex;
    align-self: center;
    -webkit-mask: url('/image/icon-menu.svg') no-repeat center;
    -webkit-mask-size: 20px;
    width: 20px;
    height: 20px;
    background-color: #FFFF;
    margin-left: 12px;
  }

  /* gần cái loa */
  #realtime{
    display: none;
  }

  #bady .nav-app-header{
    display: none !important;
  }

  .nav-news-header{
    width: 100%;
  }

  .news_content_wrapper .news_content{
    margin-left: -520px !important;
  }
/* end gần cái loa */


/* viết css đè boostrap */
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: unset !important;
  }

  .header_css .navbar{
    padding: 0px !important;
  }
  .navbar .nav-item {
    font-size: 1.17em !important;
    margin-right: 16px;
  }
  .navbar.navbar-custom{
    overflow-x: auto;
    overflow-y: hidden;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0.1rem !important;
  }
/*end viết css đè bootstrap  */

/* responsive tablet carousel */
.carousel_placeholder:hover .swiper-button-next{
  display: none !important;
}
.carousel_placeholder:hover .swiper-button-prev{
  display: none !important;
}


.carousel_placeholder{
  height: 32.82vw !important;
}
.carousel_item_content{
  padding-bottom: 57px !important;
  left: 55% !important;
}
.carousel_item_content1{
  padding-bottom: 57px !important;
  left: 55% !important;
  height: unset !important;
  top: 20% !important;
}
.carousel_item_content2{
  padding-bottom: 57px !important;
  left: 55% !important;
  top: 8% !important;
}

.carousel_item_content .image_content{
  height: 45px;
}
.carousel_item_content1 .image_content1{
  height: 45px;
}
.carousel_item_content2 .image_content{
  height: 45px;
}
.carousel_item_content .big{
  font-size: 31px;
  line-height: 56px !important;
}
.carousel_item_content .big1{
  font-size: 32px;
}
.carousel_item_content2 .big2{
  font-size: 32px;
}
.carousel_item_content2 .table_up1{
  bottom: -85%;
  font-family: sans-serif;
  font-size: 20px;
}
.carousel_item_content1 .big{
  font-size: 35px;
}
.carousel_item_content .button_sign_in{
  padding: 16px 23px;
  font-size: 15px;
}

.carousel_item_content1 .button_sign_in{
  padding: 16px 23px;
  font-size: 15px;
}
.carousel_item_content2 .button_sign_in1{
  padding: 16px 23px;
  font-size: 15px;
}
/* end responsive tablet carousel */
}

@media(min-width:1023.5px) {
  .header_css .style_nav .logo_desktop {
    display: inline-block;
  }

  .header_css .style_nav .logo_mobile {
    display: none;
  }

  .header_css .button_signin {
    color: #FFFF;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #FFFF;
    height: 43px;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 60px;
    cursor: pointer;
    transition: all .5s;
    white-space: nowrap;
    width: 150px;
    margin-right: 8px;
  }

  .header_css .button_signup {
    color: #222939;
    background-color: #CAAB72;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 43px;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 60px;
    transition: all .5s;
    white-space: nowrap;

  }


/* viết đè css sửa lại trên bootstrap */
  
  .navbar .nav-item {
    font-size: 1.17em !important;
    margin-right: 8px;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0.1rem !important;
  }
/* end viết đè css sửa lại trên bootstrap */

}

/* end resposive */



.header_css .button_signin:hover {
  background-color: #4E5461;
}


.header_css .button_signup:hover {
  background-color: #D7C095;
}

.header_css .switch {
  margin-right: 20px;
  text-transform: uppercase;
  height: 43px;
  width: 100px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  background-color: #383E4D;
  font-family: sans-serif;
  white-space: nowrap;
}




.span_switch {
  margin-right: 7px;
  display: flex;
  align-items: center;
  width: max-content;
  color: #FFFF;
  font-size: 0.75em;
}



/* checkbox */
body {
  background: whitesmoke;
  overflow: auto;
}

body h4 {
  text-align: center;
  color: gray;
  letter-spacing: 1px;
}

body h2 {
  text-align: center;
  color: gray;
  letter-spacing: 1px;
}

.inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}

.beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

.afterAnimation {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

.toggleWrapper {
  /* margin: 3px auto; */
  width: 23px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
}

.toggleWrapper input.mobileToggle+label {
  position: relative;
  display: inline-block;
  user-select: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-tap-highlight-color: transparent;
  height: 14px;
  width: 25px;
  border: 1px solid #e4e4e4;
  border-radius: 60px;
  background: #D3D4D7;
}

.toggleWrapper input.mobileToggle+label:before {
  content: "";
  position: absolute;
  display: block;
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 12px;
  width: 21px;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.toggleWrapper input.mobileToggle+label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: whitesmoke;
  height: 10px;
  width: 10px;
  top: 1px;
  left: 0px;
  border-radius: 60px;
}

.toggleWrapper input.mobileToggle:checked+label:before {
  background: #CAAB72;
  -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.toggleWrapper input.mobileToggle:checked+label:after {
  left: 11px;
}

.form-label {
  margin-bottom: 0px;
}

/* end checkbox */