.title_img_jacpots{
    display: flex;
    padding:16px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title_img_jacpots span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 3px;
    
}
.title_img_jacpots img{
    width: 50px !important;
}



/*  */
.content_title_messi{
    display: flex;
    width: 100%;
    position: relative; 
    height: 268px;
}

.content_title_messi_area{
    padding: 64px 0px 24px;
    width: 100%;
    flex-direction: column;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.content_title_messi_area img{
    position: absolute;
    z-index: 9999;
}
.content_title_messi_area_multiple{
    width: 100%;
    display: flex;
    background-color: #383E4D;
    position: relative;
    padding-left: 27%;
    align-items: center;
    color: #ffff;
    height: 77%;
    top: 41px;
    border-radius: 8px;
   justify-content: space-between;
}
.content_title_messi_area_multiple_img{
    display: flex;
    align-items: center;
   
}


.span_title_messi1{
    color: #FFFF;
    font-size: 24px;
}
.span_title_messi2{
    line-height: 35px !important;
    color: #CAAB72;
    font-size: 20px;
}

/*  */
.seo_text_main{
    padding-top: 80px;
    word-wrap: break-word;
    margin-bottom: 50px;
}
.seo_text_title h1{
    font-size: 28px;
    margin-bottom: 30px;
}

.seo_text_main .container{
    max-width: 1330px !important;  
}
.footer_content .container{
    max-width: 1330px !important;  
}
.seo_text_main a{
    color: #222939;
}
.seo_text_main a:hover{
    color: unset;
    text-decoration: none;
}
.seo_text_main .seo_text_infor_content_text_out_a{
    font-size: 12px;
    font-family: sans-serif;
}

.seo_text_main a{
    font-size: 13px;
    line-height: 1.5;
}
.seo_text_main strong{
    font-size: 13px;
    line-height: 1.5;
}

/* đối tác */
.footer_content{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #1A202C;
}

.footer_sponsor .partner_shiper{
    display: flex;
    row-gap: 32px;
    flex-wrap: nowrap;
}
.footer_sponsor .partner_shiper_single{
    display: flex ;
    align-items: center ;
    flex-direction: column ;
    padding-left: 4px;
    padding-right: 4px;
    max-width: 33.33%;
    flex-basis: 33.33%;
}


.partner_ship .partner_ship_head{
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #222939;
    text-transform: uppercase;
    container-type: inline-size;
    padding-top: 35px;
}

.partner_shiper_single img{
    height: 56px;
    margin-bottom: 24px;
    transition: all .15s ease-in-out;
    z-index: 1 !important;
}
.partner_shiper_single:hover img{
    transform: scale(1.05);
}
.partner_shiper_single .span1{
    white-space: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #222939;
    margin-bottom: 8px;
    font-weight: bold !important;
    z-index: 1 !important;
}
.partner_shiper_single .span2{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #222939;
    font-family: sans-serif;
    z-index: 1 !important;
    
}

.footer_sponsor::before{
    content: "";
    position: absolute;
    background-color: #FFFF;
    width: 200.1vw;
    height: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -101vw;
    
}
/* end đối tác */